In [13]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [17]:
matches = pd.DataFrame.from_csv('data/match_history.csv',index_col=None, encoding='ISO-8859-1')
bracket = pd.DataFrame.from_csv('data/us_open_bracket.csv', index_col=None, encoding='ISO-8859-1')
ranking = pd.DataFrame.from_csv('data/atp_rankings.csv', index_col=0, encoding='ISO-8859-1')

In [16]:
us_open = matches[(matches.tournament=='US Open')]
us_open.iloc[:,6:16].head()

,date,series,court,surface,bracket_round,best_of,winner,loser,wrank,lrank
2269,8/28/2000,Grand Slam,Outdoor,Hard,First,5,Agassi A,Kim A,1.0,432.0
2270,8/28/2000,Grand Slam,Outdoor,Hard,First,5,Alami K,El Aynaoui Y,33.0,22.0
2271,8/28/2000,Grand Slam,Outdoor,Hard,First,5,Arazi H,Hantschk M,41.0,92.0
2272,8/28/2000,Grand Slam,Outdoor,Hard,First,5,Arthurs W,Kuerten G,102.0,2.0
2273,8/28/2000,Grand Slam,Outdoor,Hard,First,5,Bjorkman J,Ulihrach B,53.0,82.0

In [ ]:
#World Rank Diff.
rank1 = rankings[rankings.index==player1].ATP
rank2 = rankings[ranking.index== player2].ATP
rankdiff = rank1 - rank2